name: "Publish GitHub Action"

on:
   push:
     branches:    
       - master

jobs:
   publish:
     runs-on: ubuntu-latest
     steps:
     - uses: actions/checkout@v4.1.7
     - uses: tgymnich/publish-github-action@v1
       with:
         github_token: ${{ secrets.GITHUB_TOKEN }} 
